@import '../../../styles/variables.scss';

.myButton {
  text-transform: uppercase;
  padding: 18px;
  font-size: 15px;
  letter-spacing: 6px;
  border-radius: 4px;
  transition: 0.3s all;

  @media (max-width: 480px) {
    padding: 13px;
    font-size: 13px;
  }

  &:active {
    transform: translateY(3px);
    outline: 1px solid $greenColor;
    opacity: 0.8;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
    background-color: $grayColor;
  }
}
