@import '../../styles//variables.scss';

.form {
  width: 500px;
  margin: 0 auto;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 480px) {
    gap: 8px;
  }
}

.formButtonLarge {
  flex: 6;
  background: $bgButtonLargeHover;
  color: $white;

  &:hover {
    background: lighten($bgButtonLargeHover, 15%);
  }
}

.formButtonSmall {
  flex: 4;
  background: $bgButtonSmall;
  color: $white;

  &:hover {
    background: lighten($bgButtonSmallHover, 5%);
  }
}
