@import '../../../styles/variables.scss';

.myInput {
  display: block;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $greenColor;
  }

  &.error {
    border-color: $errorColor;
    animation: shake 0.3s ease;
  }
}

.errorMessage {
  color: $errorColor;
  font-size: 12px;
  animation: fadeIn 0.3s ease;
  margin-top: -6px;
}

.label {
  min-height: 102px;
  line-height: 1;
  text-align: left;
  display: block;
  margin-bottom: 40px;
  color: $white;

  h3 {
    font-size: 16px;
    color: $white;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid $blueColor;
    margin-bottom: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
