$white: white;
$blueColor: rgb(79, 98, 148);
$greenColor: rgb(54, 204, 41);
$bgButtonLarge: #ec5990;
$bgButtonLargeHover: #bf1650;
$bgButtonSmall: #ae6988;
$bgButtonSmallHover: #cc8aa3;
$errorColor: rgb(228 61 61);
$grayColor: gray;
